#{extends 'main.html' /}
#{set title:'Notifications' /}


<h1>Notifications</h1>

<div id="notifications">
  #{list items:notifications, as:'n'}
    #{set q:n.getQuestion()/}    
    <div class="notification ${n.isRead()?'read':'unread'}">
      <div class="title">
      &{'notif.'+n.getType(),
        actionBridge.Users.view(n.getOriginator().getId()),
        n.getOriginator().getName(),
        actionBridge.Questions.view(q.getId()),
        q.getTitle()
        }</div>
  
    </div>
  #{/list}
</div>

