#{extends 'main.html' /}
#{set title:'Tags' /}


<h1>Tags</h1>
<br></br>
<p>A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer your question.</p> 
<br></br>
<div id="tags">
<div class="list">
  #{list items:tags, as:'t'}
    #{set tagname:t.getName()/}
    #{if t.count() > 0}
    <div>
      <a class="tag" href="@{Questions.list(tagname)}">${t.getName()}</a><span> x ${t.count()}</span>
    </div>
    #{/if}
  #{/list}
</div>
</div>
