<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}"/>        
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}"/>
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>        
        <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">

          function delNotification(id){
        	  if(!id) return;

        	  $.post( "@{Notifications.delete()}"
        		        ,{id:id}
        		        ,function (data){
        		        	//on success
          		        //remove item from the list                    
        		          $("#notification-"+id).hide("slow");        		                
        		        }
        		        ,"text/html"
        		);
          }
        
        </script>
    </head>
    <body>
     <div id="wrapper">    
      <div id="header">
       <div id="logo">        
        <a href="/">Q & A</a>
       </div>
  
       <div id="nav">               
         <a href="@{Questions.list()}">Questions</a>
         <a href="@{Tags.list()}">Tags</a>		
  
        #{if user}          
          <a href="@{Questions.create()}">Ask Question</a>          
        #{/if}      
        
        #{form @Posts.searchContent(),id:'textSearchForm'}
        <a class="last" href="#" onclick="$('#textSearchForm').submit();">Search</a>
		<p align="right"><textarea  name="content" cols="15" rows="2"></textarea></p>
		
		#{/form}      
        
       </div>
           
       	       	       	        
    	 <div id="loginbox">
	       #{if user}
	        <img src="@{'/public/images/gravatar-16.png'}"/><a href="@{Users.edit(username)}">${username}</a>	            
    		  | <a href="@{Secure.logout()}">logout</a>
    		  <br/>
    		  <a href="@{Questions.listUser('DATE')}">My Questions</a><br></br>
    		  <a href="@{Questions.listSubscriptions('DATE')}">My Subscriptions</a><br></br>    		      		  
    	   #{/if}
    	   #{else}
    	      #{form @Secure.authenticate(), id:'loginForm'}
    	      <input type='text' name='username' value='user..' onclick='$(this).val("")'></input><br></br>
    	      <input type='text' name='password' value='pw..' onclick='$(this).val("")'></input><br></br>
    	      remember me ? <input type='checkbox' name='rememberme' value='true'></input><br></br> 
    	      <button type='submit'>Login</button>
    	      #{/form}
    	      <!-- 
	    	  Please <a href="@{Secure.login()}">login</a>
	    	   -->    	
 	       #{/else}
 	     </div>
      </div><!-- end header -->
      
      <!-- messages from flash scopes -->
      #{if flash.error }
	     <div class="message error">
 	       ${flash.error}
	 	   </div>
 	    #{/if}
 	    #{if flash.info }
       <div class="message info">
         ${flash.info}
       </div>
      #{/if}
      <!-- content -->        
      <div id="content">
        <!-- left box for notifications -->         
        #{set boxvisible: ! notifications.isEmpty()/}
        
        #{if boxvisible} 
        <div id="notif-box">          
          #{list items:notifications, as:'n'}
			    #{set nq:n.getQuestion()/}    
			     <div id="notification-${n.getId()}" class="notification ${n.isRead()?'read':'unread'}">
			       <a href="#" class="delete" onclick="delNotification('${n.getId()}')">
			         <img src="@{'/public/images/delete.png'}"></img>
			       </a>			       
			       <div class="title">
			      &{'notif.'+n.getType(),
			        actionBridge.Users.view(n.getOriginator().getName()),
			        n.getOriginator().getName(),
			        actionBridge.Questions.view(nq.getId()),
			        nq.getTitle()
			        }</div>			  
			    </div>			    
			   #{/list}
        </div>
        #{/if}
          
        <div id="main" class="${boxvisible ? 'right' : ''}">
          <div style="clear:both;"></div>
          #{doLayout /}
        </div>
      </div><!-- end content -->     
      
      
      <div id="footer">      
        <div class="content">Q & A Team 5</div>
      </div>
     </div><!-- end wrapper -->     
    </body>
</html>
