<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">        
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>        
    </head>
    <body>
     <div id="wrapper">    
      <div id="header">
       <div id="logo">
        <a href="/">Q & A</a>
       </div>    	
    	 <div id="loginbox">
	       #{if user}
	        Notifications: ${user.getNotifications().size()}    
    		  Logged in as: ${username},</a> <a href="@{Secure.logout()}">logout</a>
    		  <br></br>
    		  <a href="@{Users.edit(username)}">edit user profile</a>
    	   #{/if}
    	   #{else}
	    	  Please <a href="@{Secure.login()}">login</a>    	
 	       #{/else}
 	     </div>
      </div><!-- end header -->
      
      <!-- messages from flash scopes -->
      #{if flash.error }
	     <div class="message error">
 	       ${flash.error}
	 	   </div>
 	    #{/if}
 	    #{if flash.info }
       <div class="message info">
         ${flash.info}
       </div>
      #{/if}
      
      <!-- content -->
      <div id="content">
        #{doLayout /}
      </div>     
      
      
      <div id="footer">      
        <div class="content">Q & A Team 5</div>
      </div>
     </div><!-- end wrapper -->
     
    </body>
</html>
