#{extends 'main.html' /}
#{set title:'Edit Comment' /}

<h1>Comment ${c.getId()}</h1>
#{form @Comments.setContent(),id:'editForm'}

	<table cellspacing="10px">
	<tr>
	  <td>Rating:</td>
	  <td>
	    <span id="commentRating">${c.getVotation()}</span>
	  </td> 
	</tr>	
	<tr>
	  <td>Created At:</td><td>${c.getTimestamp()}</td>
	</tr>	
	<tr>
	    <input type="hidden" id="id" name="id" value="${c.getId()}"/>
	    <td>
	      Edit content:
	    </td>
	    <td>
	      <input type="text" id="content" name="content" value="${c.getContent()}"/>
	      <br/><a href="#" onclick="$('#editForm').submit();">update</a>      
	    </td>   
	</tr>
	</table>

#{/form}
