#{extends 'main.html' /}
#{set title:'edit.html' /}

<h1>Hello ${u.getName()}</h1>
<h2>Here you can edit your profile information</h2>
<br />
#{form @Users.updateProfile() , id:'editUserForm'}
	<input type="hidden" id="id" name="id" value="${u.getId()}"></input> 
  	Name:<br />
	<input type="text" name="name" size="20" value="${u.getName()}" readonly="readonly"/>
	<br />
	<br />
	Email:<br />
	<input type="text" name="email" size="20" value="${u.getEmail()}"/>
	<br />
	<br />
	
    Website:<br />
	<input type="text" name="homepage" size="20" value="${u.getHomepage()}"/>
	<br />
	<br />
	Date of birth:<br />
	<input type="text" id="birthDate" name="birthDate" value="${u.getBirthDate().format('dd.MM.yyyy')}"/> (Format: dd.MM.yyyy)
    <br />
    <br />
    <a href="#" onclick="$('#editUserForm').submit();">submit changes</a>
#{/form}