#{extends 'main.html' /}
#{set title:'edit.html' /}

<h1>Hello ${u.getName()}</h1>
<h2>Here you can edit your profile information</h2>
<br />
#{form @Users.updateProfile() , id:'editUserForm'}
	<input type="hidden" id="id" name="id" value="${u.getId()}"></input> 
  	Name:<br />
	<input type="text" name="name" size="20" value="${u.getName()}" readonly="readonly"/>
	<br />
	<br />
	Email:<br />
	<input type="text" name="email" size="20" value="${u.getEmail()}"/><span class="error"> #{error 'email' /}</span>
	<br />
	<br />
	
    Website:<br />
	<input type="text" name="homepage" size="20" value="${u.getHomepage()}"/><span class="error"> #{error 'homepage' /}</span>
	<br />
	<br />
	Date of birth:<br />
	<input type="text" id="birthDate" name="birthDate" value="${u.getBirthDate().format('dd.MM.yyyy')}"/> (Format: dd.MM.yyyy)
    <br />
    <br />
    <a href="#" onclick="$('#editUserForm').submit();"><img src="@{'/public/images/save.png'}" title="Save changes to user profile"></img></a>
#{/form}
<div id="deluser"><a href="@{Users.delete(u.getName())}"><img src="@{'/public/images/del_user.png'}" title="Delete user profile"></img></a></div>

<div id="status">
	<h1>Question${questions.pluralize()} (${questions.size()})</h1>
	<div class="question-list">
    #{list items:questions, as:'q' }
      #{set answers:q.getAnswers().size()/}
      #{set tags:null/}
      #{list items:q.getTags(), as:'tag'}
      #{set tags:(tags?tags+' ':'')+tag /}
      #{/list}
      <div class="question-summary ${tags}">
        <div class="votes">
        <div>${q.getVotation()}</div>
        <div>vote</div>
      </div>
        <div class="status ${answers == 0 ? 'unanswered' : 'answered'}">
          <div>${q.getAnswers().size()}</div>
          <div>answers</div>
        </div>        
        <div class="summary">
          <h3><a href="@{Questions.view(q.getId())}">${q.getTitle()}</a></h3>
          <span class="tags">
          Tags: 
          #{list items:q.getTags(), as:'tag'}
          	<a class="tag" href="@{Questions.list(null,tag.getName())}">${tag.getName()}</a>
      	  #{/list}
          </span>
          <div class="started">
            <span>${q.getTimestamp().since()}</span>          
          </div>
          <div style="clear: both"></div>
          <div class="user">
            from: <a href="@{Users.view(q.getOwner().getName())}">${q.getOwner().getName()}</a>
          </div>
        </div>              
      </div>       
    #{/list}
</div>
	<h1>Answer${answers.pluralize()} (${answers.size()})</h1>
	#{list items:answers, as:'ans'}
	<div class="answerthumb">
		<span class="votes">
	        ${ans.getVotation()}
	        <br></br>
	        vote
	    </span>
		<a href="@{Questions.view(ans.getQuestion().getId())}">${ans.getQuestion().getTitle()}</a>
	</div>
	<br></br>
	#{/list}
</div>