#{extends 'main.html' /}
#{set title:'Ask a question' /}

#{ifErrors}
   <div class="errors">
   <h1>Oops... Couldn't create question</h1>
 
   #{errors}
       <li>${error}</li>
   #{/errors}
   </div>
#{/ifErrors}

<div id="create-question-form">
#{form @Questions.save(),id:'questionForm'}
	<h1>Create question:</h1>	
	<h3>Title:</h3><input type="text" name="title" value="${flash.title}"></input><span class="error"> #{error 'title' /}</span><br></br>
	
	<h3>Content:</h3>
	<div class="text-editor">	 
	 <div class="tabs">
	   <span onclick="teTab($(this));">write</span> | <span onclick="teTab($(this));">preview</span>
	 </div>
	 <div class="help">
	   This is Markdown <a target="_blank" href="http://daringfireball.net/projects/markdown/syntax">syntax</a>
	 </div>
	 <div class="tab-write">
	   <div class="body">         
	     <textarea name="content" tabindex="1">${flash.content}</textarea>
	   </div>
	 </div>
	 <div class="tab-preview">
	   <div class="body">
	   </div>	   
	 </div>
	</div>
	<span class="error">#{error 'content' /}</span>
	<div class="tags">
	<h3>Tags:</h3>
    <input type="text" name="tag">
    <div class="error">#{error 'tag' /}</div>
    </div>
    <br></br>
	<button class="x-large"  onclick="$('#questionForm').submit();">Create</button>
#{/form}
</div>