#{extends 'main.html' /}
#{set title:'Edit question' /}
<h1>Question ${q.getId()}</h1>
<table>
<tr>
  <td>Rating:</td><td>
    <span id="questionRating">${q.getVotation()}</span> 
  </td> 
</tr>
<tr>
  <td>Created At:</td><td>${q.getTimestamp()}</td>
</tr>
<tr>
  <td>Content: </td><td>${q.getContent()}</td>
</tr>
</table>
#{form @Questions.setContent(),id:'editForm'}
		  <input type="hidden" id="id" name="id" value="${q.getId()}"></input>  
        Edit content: <input type="text" id="content" name="content" value="${q.getContent()}"/>
        <br></br>
        <a href="#" onclick="$('#editForm').submit();">update</a>
#{/form}