#{extends 'main.html' /}
#{set title:'Edit question' /}
<h1>Editing question: ${q.getTitle()}</h1>
<br></br>
#{form @Questions.setContent(),id:'editForm'}
		<input type="hidden" id="id" name="id" value="${q.getId()}"></input>  
		<h3>Title:</h3>
		<input type="text" name="title" value="${q.getTitle()}"></input>
		<br></br>
    <h3>Content:</h3>
    <br></br>        
		<div class="text-editor">  
		   <div class="tabs">
		     <span onclick="teTab($(this));">write</span> | <span onclick="teTab($(this));">preview</span>
		   </div>
		   <div class="help">
		     This is Markdown <a target="_blank" href="http://daringfireball.net/projects/markdown/syntax">syntax</a>
		   </div>
		   <div class="tab-write">
		     <div class="body">         
		       <textarea name="content" tabindex="1">${q.getMarkdown()}</textarea>
		     </div>
		   </div>
		   <div class="tab-preview">
		     <div class="body">
		     </div>    
		   </div>
		</div>
    <br></br>
    #{list items:q.getTags(), as:'tag'}
        #{set tags:(tags?tags+', ':'')+tag /}
    #{/list}   
    <button class="x-large"  onclick="$('#editForm').submit();">Update</button>   
#{/form}