#{extends 'main.html' /}
#{set title:'Edit question' /}
<h1>Editing question: ${q.getTitle()}</h1>
<br></br>
#{form @Questions.setContent(),id:'editForm'}
		<input type="hidden" id="id" name="id" value="${q.getId()}"></input>  
		Edit title: <input type="text" name="title" value="${q.getTitle()}"></input><br></br>
        Edit content:<br></br>
        <textarea cols="60" rows="20" id="content" name="content">${q.getContent()}</textarea>
        <br></br>
        <a href="#" onclick="$('#editForm').submit();">update</a>
#{/form}