#{extends 'main.html' /}
#{set title:'Home' /}

<div class="actions">
  <div>
   #{ if user}
   	<a href="/Questions/createquestion">Add Question</a>
   #{/if}
   #{else}
     Please <a href="@{Secure.login()}">login</a> to add,answer,vote questions..
   #{/else} 
  </div>
</div>

<br></br>
<div class="list">
    #{list items:questions, as:'q' }
      <div class="list-item ${q_parity}">
      	<div class="title"><a href="@{Questions.view(q.getId())}">${q.getTitle()}</a></div>
      	<div class="question">${q.getContent()}</div>  
        <div class="details">Answers: ${q.getAnswers().size()}, Rating: ${q.getVotation()}, Owner: <a href="@{Users.view(q.getOwner().getName())}">${q.getOwner().getName()}</a></div>
        <div class="tags">Tags: ${q.getTags()}</div>      
      </div>       
    #{/list}
</div>




