#{extends 'main.html' /}
#{set title:'Home' /}

<!-- some javascript funcions -->
<script type="text/javascript" charset="utf-8">


   function rateQuestion(questionId, up){ 
    
    $.post( "@{Posts.rate()}"
        ,{id:questionId,up:up}
        ,function (data){
          //update rating                    
          $("#questionRating").html(data);
                
        },"text/html"); 

  }


   
  function rateAnswer(answerId, up){ 
        
    $.post( "@{Posts.rate()}"
        ,{id:answerId,up:up}
        ,function (data){
          //update rating                    
          $("#answerRating-"+answerId).html(data);
                
        },"text/html"); 

  }

</script>


<h1>${q.getContent()}</h1>
<br></br>
<div class="actions">
 <a href="#" onclick="rateQuestion(${q.getId()},true)">rate Up</a> |  
 <a href="#" onclick="rateQuestion(${q.getId()},false)">rate Down</a>
#{if q.ownPost()}
 | <a href="@{Questions.delete(q.getId())}">delete</a> | 
 <a href="@{Questions.edit(q.getId())}">edit</a> |
#{/if}
</div>


<table>
<tr>
  <td>id:</td><td>${q.getId()}</td> 
</tr>
<tr>
  <td>Owner:</td><td>${q.getOwner().getName()}</td> 
</tr>
<tr>
  <td>Rating:</td><td>
    <span id="questionRating">${q.getVotation()}</span>
  </td> 
</tr>
<tr>
  <td>Created At:</td><td>${q.getTimestamp()}</td>
</tr>

</table>
<br></br>
<h2> Answers (${q.getAnswers().size()})</h2>
<div class="list">
    #{list items:q.getAnswers(), as:'answer'}
      <div class="list-item ${answer_parity}">
        <div class="details">From: ${answer.getOwner().getName()}, Rating: <span id="answerRating-${answer.getId()}">${answer.getVotation()}</span></div>          
        <div class="answer x-large">
          #{if answer.isBest()}
            <img src="@{'/public/images/tick.png'}"></img>
          #{/if}
            ${answer.getContent()}
        </div>        
        <div class="actions">
          <a href="#" onclick="rateAnswer(${answer.getId()},true)">rate Up</a>
          <a href="#" onclick="rateAnswer(${answer.getId()},false)">rate Down</a>
          #{if answer.ownPost()}
            ,<a href="@{Answers.edit(answer.getId())}">edit</a>            
          #{/if}
          #{if q.ownPost()}
            ,<a href="@{Questions.markBestAnswer(q.getId(),answer.getId())}"> mark as best</a>  
          #{/if}
          
        </div>
      </div>
    #{/list}
</div>
<br></br>
<hr></hr>
<br></br>
<div id="actions">
<h3> Your Answer</h3>
#{form @Questions.addAnswer(), id:'addAnswerForm' } 
  <input type="hidden" id="qId" name="qId" value="${q.getId()}"></input>  
  <input type="text" name="answer" id="answer"></input>
  <br></br>
  <a href="#" onclick="$('#addAnswerForm').submit()">add</a>
#{/form}
</div>





