#{extends 'main.html' /}
#{set title:'Home' /}

<!-- some javascript funcions -->
<script type="text/javascript" charset="utf-8">


   function rateQuestion(questionId, up){ 
    
    $.post( "@{Posts.rate()}"
        ,{id:questionId,up:up}
        ,function (data){
          //update rating                    
          $("#questionRating").html(data);
                
        },"text/html"); 

  }


   
  function rateAnswer(answerId, up){ 
        
    $.post( "@{Posts.rate()}"
        ,{id:answerId,up:up}
        ,function (data){
          //update rating                    
          $("#answerRating-"+answerId).html(data);
                
        },"text/html"); 

  }

  function rateComment(commentId, up){
  	$.post("@{Posts.rate()}"
  		  	,{id:commentId,up:up}
  		  	,function (data){
  	  		  	//update rating
  	  		  	$("#commentRating").html(data);
		},"text/html");
   }
</script>

<div class="question">
		<h1 class="title">${q.getTitle()}</h1>
		<br></br>
		<div class="content">
      ${q.getContent().raw()}
    </div>
		<div class="tags">${q.getTags()}</div>
		<div class="actions">
			<a href="#" onclick="rateQuestion(${q.getId()},true)">rate Up</a> |  
			<a href="#" onclick="rateQuestion(${q.getId()},false)">rate Down</a>
			#{if q.ownPost()}
			 | <a href="@{Questions.delete(q.getId())}">delete</a>
			 | <a href="@{Questions.edit(q.getId())}">edit</a>
			 |
			#{/if}
		</div>
		<div class="about">
			<div class="owner">Owner: ${q.getOwner().getName()}</div>
			<div class="rating">Rating: ${q.getVotation()}</div>
			<div class="createdAt">${q.getTimestamp().format('dd.MM.yyyy hh:mm')}</div>
		</div>	
	<div class="comments">
		<h3>Comments (${q.getComments().size()}):</h3>
		<div class="comment-list">
			#{list items:q.getComments(), as:'comment'}
				<div class="comment-list-item">        
					<div class="comment">${comment.getContent()} - by <span class="owner"></span>${comment.getOwner().getName()}<span class="timestamp"> Timestamp: ${comment.getTimestamp().format('dd.MM.yyyy hh:mm')}</span></div>      
					<div class="actions">
						#{if comment.ownPost()}
							<a href="@{Comments.edit(comment.getId())}">edit</a>
						#{/if}
					</div>
				</div>
			#{/list}
		</div>
		<div class="actions">
			<div>Your comment:</div>
			#{form @Questions.addComment(), id:'addCommentForm' } 
		        <input type="hidden" id="qId" name="qId" value="${q.getId()}"></input>  
		        <input type="text" name="comment" id="comment"></input>
		        <br></br>
		        <a href="#" onclick="$('#addCommentForm').submit()">add</a>
	        #{/form}  
		</div>
	</div>
	
	<div class="answers">
		<h2> Answers (${q.getAnswers().size()})</h2>
		<div class="answer-list">
	    <!-- answers is sorted so that best answer is at the head -->
		    #{list items:answers, as:'answer'}
		      <div class="answer-list-item">
		        <div class="details">From: ${answer.getOwner().getName()}, Rating: <span id="answerRating-${answer.getId()}">${answer.getVotation()}</span></div>          
		        <div class="answer x-large">
		          #{if answer.isBest()}
		            <img src="@{'/public/images/tick.png'}"></img>
		          #{/if}
		            ${answer.getContent()}
		        </div>
		        <div class="actions">
		          <a href="#" onclick="rateAnswer(${answer.getId()},false)">rate Down</a>
		          #{if answer.ownPost()}
		            | <a href="@{Answers.edit(answer.getId())}">edit</a>            
		          #{/if}
		          #{if q.ownPost()}            
		            | <a href="@{Questions.markBestAnswer(q.getId(),answer.getId())}"> 
		              ${answer.isBest() ? 'unmark as best':'mark as best'}
		            </a>             
		          #{/if}         
		        </div>
		        <!-- maybe some comments to an answer -->
		        <div class="comments">
		          Comments: ${answer.getComments().size()}<br></br>
		          <div class="comment-list">
		            #{list items:answer.getComments(), as:'commentA'}
		              <div class="comment-list-item">        
						<div class="comment">${commentA.getContent()} - by <span class="owner"></span>${commentA.getOwner().getName()}<span class="timestamp"> Timestamp: ${commentA.getTimestamp().format('dd.MM.yyyy hh:mm')}</span></div>      
						<div class="actions">
						#{if commentA.ownPost()}
							<a href="@{Comments.edit(commentA.getId())}">edit</a>
						#{/if}
						</div>
					  </div>
		                      
		            #{/list}
		          </div>
		          <div class="actions">
		            Your Comment: 
		            #{form @Answers.addComment(), id:'addCommentAForm' } 
		              <input type="hidden" name="aId" value="${answer.getId()}"></input>  
		              <input type="text"   name="comment"></input>              
		              <a href="#" onclick="$('#addCommentAForm').submit()">add</a>
		            #{/form}
		          </div>      
		          
		        </div><!-- end comments -->
		      </div><!-- end list-item -->
		    #{/list}    
		</div><!-- end list answers-->
	</div><!-- end container answers -->
	<div class="actions">
		<div class="add-answer">
			<h3>Your Answer</h3>
			#{form @Questions.addAnswer(), id:'addAnswerForm' } 
				<input type="hidden" id="qId" name="qId" value="${q.getId()}"></input>
				<textarea name="answer" cols="60" rows="10"></textarea>
				<br></br>
				<a href="#" onclick="$('#addAnswerForm').submit()">add</a>
			#{/form}
		</div>
	</div>
</div>
