#{extends 'main.html' /}
#{set title:q.getTitle() /}

<!-- some javascript funcions -->
<script type="text/javascript" charset="utf-8">
   function rateQuestion(questionId, up){     
    $.post( "@{Posts.rate()}"
        ,{id:questionId,up:up}
        ,function (data){
          //update rating                    
          $("#questionRating").html(data);
                
        },"text/html"); 
    }

   
	  function rateAnswer(answerId, up){
	        
	    $.post( "@{Posts.rate()}"
	        ,{id:answerId,up:up}
	        ,function (data){
	          //update rating                    
	          $("#answerRating-"+answerId).html(data);
	                
	        },"text/html");
	  }

	  function rateComment(commentId, up){
  	 $.post("@{Posts.rate()}"
  		  	,{id:commentId,up:up}
  		  	,function (data){
  	  		  	//update rating
  	  		  	$("#commentRating").html(data);
  	 },"text/html");
    }
    
    
     function likeCommentQuestion(commentId, likesComment){
  	 $.post("@{Comments.LikeOrUnlike()}"
  		  	,{id:commentId,likesComment:likesComment}
  		  	,function (data){
  	  		  	//update likes and unlikes
  	  		  	$("#likeCommentQuestion").html(data);
  	 },"text/html");
    }
    
    function likeCommentAnswer(commentId, likesComment){
  	 $.post("@{Comments.LikeOrUnlike()}"
  		  	,{id:commentId,likesComment:likesComment}
  		  	,function (data){
  	  		  	//update likes and unlikes
  	  		  	$("#likeCommentAnswer").html(data);
  	 },"text/html");
    }
    
    function showCommentField(id)
	{
	var element = document.getElementById(id);
	
	if(element.style.display != 'none')
	        element.style.display='none';
	else
	        element.style.display='';
	}
    
    
    
</script>

<div id="question">    
	<h1 class="title">${q.getTitle()}</h1>		
	<table class="question-table">
	<tr>
	 <td class="vote">
	  #{if user}
	   <div class="arrow_up" onclick="rateQuestion(${q.getId()},true)" title="Vote up"></div>
      <div id="questionRating">${q.getVotation()}</div>
      <div class="arrow_down" onclick="rateQuestion(${q.getId()},false)" title="Vote down"></div>
      #{/if}
	 </td>
	 <td>		
		  <div class="content">
        ${q.getContent().raw()}
      </div>
      <div class="tags">
          Tags: 
          #{list items:q.getTags(), as:'tag'}
          	<a class="tag" href="@{Questions.list(tag.getName())}">${tag.getName()}</a>
      	  #{/list}
      </div>      
      <div class="actions">
        #{if user}
          <a href="@{Questions.toggleSubscriber(q.getId(),user.getId())}">
          ${q.isSubscriber(user)?'unsubscribe':'subscribe'}
          </a>
        #{/if}
            
        #{if q.ownPost()}
        | <a href="@{Questions.delete(q.getId())}">delete</a>
        | <a href="@{Questions.edit(q.getId())}">edit</a>        
        #{/if}    
		  </div>
		  <div class="time">
		    updated: ${q.getTimestamp().since()}
		  </div>
		  <div class="owner">
		  	#{if q.getOwner().getName().equals("ANONYMOUS")}
			    Owner: ANONYMOUS
			#{/if}
			#{else}
			    Owner: <a href="@{Users.view(q.getOwner().getName())}">${q.getOwner().getName()}</a>
			#{/else}
		  </div>
		  <div style="clear:both;"></div>
		  <div class="comments">
        <h3>Comments (${q.getComments().size()})</h3>
            
	       #{list items:q.getComments(), as:'comment'}
	       	<div class="comment">
	            ${comment.getContent()}
	            <br></br>by <span><a href="@{Users.view(comment.getOwner().getName())}">${comment.getOwner().getName()}</a></span>
	            <span class="timestamp"> ${comment.getTimestamp().since()}</span>
	            #{if comment.ownPost()}
	                <a href="@{Comments.delete(comment.getId())}">delete</a> |
	                <a href="@{Comments.edit(comment.getId())}">edit</a>
	            #{/if}
	            #{if user  && !comment.ownPost()}
	            	#{if comment.isInLikeList(user)}
	            		<a href="@{Comments.likeOrUnlike(comment.getId(),false)}">unlike</a>
	            	#{/if}
	            	#{else}
	            		<a href="@{Comments.likeOrUnlike(comment.getId(),true)}">like</a>
	            	#{/else} 
	            #{/if}
	            <div id="likeComment">${comment.getLikes()}</div>
	        </div>
	         
	       #{/list}
	       <br></br>
	        #{if user && !user.isBlocked()}
       		<div id="${q.getId()}" class="yourcomment">
            #{form @Questions.addComment(), id:'newQuestionComment' } 
		          Your comment:
              <input type="hidden" id="qId" name="qId" value="${q.getId()}"></input>  
              <input type="text" name="comment" id="comment"></input>              
              <a href="#" onclick="$('#newQuestionComment').submit()">add</a>
            #{/form}          
        </div>
        #{/if}
      </div>
	 </td>
	</tr>	
	</table>	
<br></br>
<div class="answers">
	<h1 class="title">${q.getAnswers().size()} Answers</h1>
	#{list items:q.getAnswers(), as:'answer'}
	<div class="answer">	
	 <table class="answer-table">
	   <tr>
	   <td class="vote">
	    #{if user}
	    <div class="arrow_up" onclick="rateAnswer(${answer.getId()},true)" title="Vote up"></div>
      <div id="answerRating-${answer.getId()}">${answer.getVotation()}</div>
      <div class="arrow_down" onclick="rateAnswer(${answer.getId()},false)" title="Vote down"></div>
       #{/if}
      #{if answer.isBest()}
         <img src="@{'/public/images/tick.png'}" title="Marked as best answer"></img>
      #{/if}   
     </td>	
	   <td>
	    <div class="content">
        ${answer.getContent().raw()}
      </div>      
      <div class="actions">      
        #{if answer.ownPost()}
        <a href="@{Answers.delete(answer.getId())}">delete</a> | 
        <a href="@{Answers.edit(answer.getId())}">edit</a>        
        #{/if}
        #{if q.ownPost()}            
            <a href="@{Questions.markBestAnswer(q.getId(),answer.getId())}"> 
                  ${answer.isBest() ? 'unmark as best':'mark as best'}
              </a>             
        #{/if}    
      </div>
      <div class="time">
        updated: ${answer.getTimestamp().since()}
      </div>
      <div class="owner">
        Owner: <a href="@{Users.view(answer.getOwner().getName())}">${answer.getOwner().getName()}</a>
      </div>
      <div style="clear:both;"></div>
      <div style="clear:both;"></div>
      <div class="comments">
        <h3>Comments (${answer.getComments().size()})</h3>
         #{list items:answer.getComments(), as:'comment'}
             <div class="comment">
              ${comment.getContent()}
              <br></br>by <span><a href="@{Users.view(comment.getOwner().getName())}">${comment.getOwner().getName()}</a></span>
              <span class="timestamp"> ${comment.getTimestamp().since()}</span>
              #{if comment.ownPost()}
                  <a href="@{Comments.delete(comment.getId())}">delete</a> |
                  <a href="@{Comments.edit(comment.getId())}">edit</a>
              #{/if}
	          #{if user  && !comment.ownPost()}
	          	#{if comment.isInLikeList(user)}
	          		<a href="@{Comments.likeOrUnlike(comment.getId(),false)}">unlike</a>
	          	#{/if}
	           	#{else}
    	       		<a href="@{Comments.likeOrUnlike(comment.getId(),true)}">like</a>
	           	#{/else} 
	          #{/if}
	          <div id="likeComment">${comment.getLikes()}</div>
             </div>           
         #{/list}
         <br></br>
         #{if user && !user.isBlocked()}
        <div class="yourcomment">
            #{form @Answers.addComment(), id:'newAnswerComment-'+answer.getId() } 
              Your comment:
              <input type="hidden" id="aId" name="aId" value="${answer.getId()}"></input>  
              <input type="text" name="comment" id="comment"></input>              
              <a href="#" onclick="$('#newAnswerComment-${answer.getId()}').submit()">add</a>
            #{/form}          
        </div>    
        #{/if}    
      </div><!-- end comments -->
	 </td>	
	 </tr>
	</table>
	</div><!-- end answer -->
	#{/list}	
  </div><!-- end answers -->
	 #{if user && !user.isBlocked()}
	  <div class="add-answer">
		<h3>Your Answer</h3>
		#{form @Questions.addAnswer(), id:'addAnswerForm' } 
			<input type="hidden" id="qId" name="qId" value="${q.getId()}"></input>
			<div class="text-editor">
				<div class="tabs"><span onclick="teTab($(this));">write</span> | <span
					onclick="teTab($(this));">preview</span></div>
				<div class="help">This is Markdown <a target="_blank"
					href="http://daringfireball.net/projects/markdown/syntax">syntax</a></div>
				<div class="tab-write">
				<div class="body"><textarea name="answer" tabindex="1">${flash.content}</textarea>
				</div>
				</div>
				<div class="tab-preview">
				<div class="body"></div>
				</div>
			</div>
			<a href="#" onclick="$('#addAnswerForm').submit()">add</a>
		#{/form}
	  </div>
	 #{/if}
</div><!-- end question -->
	
