*{
	margin: 0;			
}

html,body{
	min-height:100%;
	height:100%;		
}

body{
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
  font-size: 80%;	
}

#wrapper{
	width: 100%;
	min-height: 100%;	
	position: relative;		
}

#header {	
	background-color: grey;
	position: relative;
	padding: 10px;
}
#header #logo{
	width: 100px;
	position: absolute;
	top: 10px;
	left: 10px;
}
#logo a{
	text-decoration: none;
	font-size: xx-large;
	color: white;
}

/*taken from github.com ;)*/
/*looks nice only on mozilla i think*/
#header #loginbox{
	position: fixed;
	top: 0px;
	right: 10px;
	-moz-border-radius-topleft:0;
  -moz-border-radius-topright:0;
  border-top:medium none;
  float:right;
  font-size:12px;
  padding:8px 5px 7px 10px;
  -moz-border-radius:5px 5px 5px 5px;
  -moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
  background:-moz-linear-gradient(270deg, #FCFCFC, #ECECEC) repeat scroll 0 0 transparent;
  border-color:#E9E9E9 #E9E9E9 #F5F5F5;
  border-style:solid;
  border-width:1px;  
}
#header #nav{
  border-color:#E9E9E9 #E9E9E9 #F5F5F5;
  border-style:solid;
  border-width:1px;
  background:-moz-linear-gradient(270deg, #FCFCFC, #ECECEC) repeat scroll 0 0 transparent;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  overflow: hidden;     
}
#nav a {
	display:block;	
	text-decoration: none;
  padding: 10px;
  border-right: 1px solid black;
  font-size: large;
  float: left;
  color: black;  
}
#nav a.last {
  float: right;
  border: 0px;
  border-left: 1px solid black;
}

#nav a:hover{
  background-color: white;
}


#loginbox img {
  border:1px solid #FFFFFF;
  margin-right:3px;
  margin-top:-3px;
  vertical-align:middle;
}

#header a.unread_count {
  -moz-border-radius:5px 5px 5px 5px;
  background:none repeat scroll 0 0 #DDDDDD;
  color:#999999;
  display:inline-block;
  font-size:10px;
  font-weight:bold;
  margin-left:2px;
  padding:1px 5px;
  text-decoration:none;
  text-shadow:none;
}


#wrapper #content{
  min-height: 100%;
  padding: 10px;	
  padding-bottom: 30px;
  width:1000px;
  margin-left: auto;
  margin-right:auto;
  overflow: auto;
}

#wrapper #notif-box{
  /*border:1px solid #666666;*/
  width: 180px;  
  float:left;
  padding:5px;  
}

#content #main{	  
  width: 800px;
  margin-left: auto;
  margin-right: auto;    
}
#main.right{
	float:right; 
}



#content .subnav{
  border-bottom:1px solid #666666;
  clear:both;
  height:34px;
  margin-bottom:15px;
}

.subnav h1 {
  float:left;  
  margin-bottom:0;
}

.subnav .tabs{
  float:right;
  font-weight: bold;
}

.tabs a{
	background:inherit;
	border:1px solid #FFFFFF;
	color:#777777;
	display:block;
	float:left;
	font-size:90%;
	height:24px;
	line-height:22px;
	margin:8px 8px 0 0;
	padding:0 11px;
	text-decoration:none;
}
.tabs a.active{
  background:none repeat scroll 0 0 #FFFFFF;
  border-color:#777777 #777777 #FFFFFF;
  border-style:solid;
  border-width:1px;
  color:black;
  font-size:120%;
  height:30px;
  line-height:28px;
  margin-top:3px;
  padding:0 11px;	
}

#footer{
	width:100%;	
	background-color: grey;
	position: absolute;
	/*because we have 10px padding on #wrapper*/
	bottom: 0px;	
	left:0px;			
}
#footer .content{
  padding-left: 10px;
}
/*text-editor*/
.text-editor {
	  border:1px solid #CCCCCC;
    padding:10px 11px 0 10px;
    -moz-border-radius:5px 5px 5px 5px;
    background:none repeat scroll 0 0 #EEEEEE;    
}
.text-editor .tabs{
  width: 50%;
  float:left;
}
.text-editor .tabs span{
  cursor: pointer;
}

.text-editor .help{
  float:right;  
}

.text-editor .body{
  margin: 5px;
}

.text-editor .tab-preview{
	display: none;
	background:none repeat scroll 0 0 #FFFFFF;
	border: inherit;
  color:#333333;
  font-size:12px;
  overflow:auto;  
  position:relative;
  width:100%;
  height: 20em;
  -moz-border-radius:5px 5px 5px 5px;
}

.text-editor textarea{
  width:100%;
  height: 20em;
}

/* flash messages */
.message{  
  border: 1px solid black;
  margin: 10px;
  padding:10px;
  font-size: large;
}

.message.error{
	background-color: red;
}
.message.info{
  background-color: green;
}

.x-large{
  font-size: x-large;
}

/* profile view */
.profileview{
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  background-color: red;
}

.profile-view h1{
  font-size: 20 px;
}

.profile-view .info{
  display: block;
}

/* notificatins*/
#notifications{
	  
}
.notification{
  border-bottom: 1px dashed black;
  position: relative;
}

.notification a.delete{
  position: absolute;
  right: 0px;
  top: 0px;
  text-decoration: none;  
}

a.delete img{
  border: 0px solid black;
}

.notification .title{
  padding: 1em;
  margin-left: 1em; 
}

.notification.read{  
  background:url("/public/images/read_message.png") no-repeat scroll 0.5em 1em transparent;
  
}
.notification.unread{
  background:url("/public/images/message.png") no-repeat scroll 0.5em 1em transparent;
  background-color: #EAF2F5;
  
}

/* question list*/
.question-list{
  overflow: auto;	
}

.question-summary {
  border-bottom:1px dotted #999999;
  float:left;
  overflow:hidden;
  padding:11px 0;
  width:100%;  
}
.question-summary .votes{
  background:none repeat scroll 0 0 #EEEEEE;
  float:left;
  height:38px;
  margin:0 3px 0 0;
  padding:5px;
  width:38px;
  text-align:center;		
}

.question-summary .status {
  float:left;
  height:38px;
  margin:0 3px 0 0;
  padding:5px;
  width:48px;
  text-align:center;
}
.unanswered {
  background:none repeat scroll 0 0 #9A4444;
  color:#FFFFFF;
}

.answered {
  background:none repeat scroll 0 0 #75845C;
  color:#FFFFFF;
}

.question-summary .summary {
  margin-left: 20px;
  float:left;
  width:80%;
}
.summary .tags {
  float:left;
}

.summary .started {
  float:right;
}

/*question view*/
#question{
  clear: both;  
}
#question .title{
  border-bottom: 1px solid black;
}
#question .question-table,.answer-table{
  width: 100%;

}

#question .answer{
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 20px; 
}

#question .vote{		
	text-align: center;
	font-size: x-large;	
	vertical-align:top;
	padding-top:2em;
	width:64px;	
}
.vote .arrow_up,.arrow_down{
	cursor: pointer;	
	width:64px;
	height:64px;	
}
.arrow_up{
	background-image: url("/public/images/arrow_up.png");
}
.arrow_down{
  background-image: url("/public/images/arrow_down.png");
}


#question .content{	
	height: 15em;
	padding: 20px;
	font-size: large;	
}
#question .taglist{
  margin-bottom:10px;  
}
#question .actions{
	float: left;
	margin-right: 10em;
}
#question .time{
	float: left;
	margin-right: 10px;
}
#question .owner{
	float: right;
	margin-right: 10px;
}
#question .comments{
	clear:both;
	margin-top: 20px;
}
.comments .comment{
	border-bottom: 1px dashed black;
  padding: 1em;    
}


.tag{
	color:#3E6D8E;
	background-color:#E0EAF1;
	border-bottom:1px solid #3E6D8E;
	border-right:1px solid #7F9FB6;
	margin:2px 2px 2px 0;
	padding:3px 4px 3px 4px;
	text-decoration:none;
	font-size:90%;
	line-height:2.4;
	white-space:nowrap;
}

.tag:hover{
	background-color:#3E6D8E;
	color:#E0EAF1;
	border-bottom:1px solid #37607D;
	border-right:1px solid #37607D;
	text-decoration:none;
}

.error{
	color: red;
}

.errors{
	border: 2px solid red;
	padding: 2px;
	color: red;

}

.errors li{
	list-style: none;
}