# don't commit eclipse stuff
/.metadata
/.classpath
/.buildpath
/.project
/.settings
/.metadata
/eclipse
/log
/cache


# don't commit temporary play! stuff
/logs
/tmp
/test-result
/server.pid
/cobertura.ser

.DS_Store
